@import 'vars';

.control--group {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	.btn {
		width: 50%;
		flex: 1 1 50%;
		border-radius: 0;

		&:hover,
		&:active,
		&.active,
			{
			z-index: 1;
		}

		&:first-child {
			border-radius: 4px 0 0 4px;
		}

		&:last-child {
			border-radius: 0 4px 4px 0;
		}
	}

	.btn+.btn {
		margin-left: -2px;
	}
}

.control--group--sm {
	.btn {
		min-height: 60px;
	}
}

.control--list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.btn {
		width: 100%;
		flex: 1 1 100%;

		&.disabled {
			display: none;
		}
	}

	.btn+.btn {
		margin-top: 12px;
	}

}

.control--list--sm {
	.btn--select {
		min-height: 60px;

		.form-control--select {
			height: 60px;
		}
	}
}

.control--grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	.btn {
		width: 50%;
		flex: 1 1 50%;
		border-radius: 0;

		&:hover,
		&:active,
		&.active,
			{
			z-index: 1;
		}

		&:first-child {
			border-radius: 4px 0 0 0;
		}

		&:nth-child(2) {
			border-radius: 0 4px 0 0;
		}

		&:nth-last-child(-n+2) {
			border-radius: 0 0 0 4px;
		}

		&:last-child {
			border-radius: 0 0 4px 0;
		}
	}

	.btn {
		margin: 0 -2px -2px 0;
	}
}
