@import 'mixins';
@import 'vars';
@import 'buttons';
@import 'control';
@import 'typography';

html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans';
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: 'Libre Franklin', sans-serif;
	overflow-x: hidden;
}

strong {
	font-weight: 900;
}

.configurator {
	margin-bottom: 1000px;
}

.container {
	margin: 0 auto;

	@media screen and (max-width: 768px) {
		max-width: calc(100vw - 4rem);
	}

	@media screen and (min-width: 769px) {
		max-width: calc(100vw - 7rem);
	}
}

.section {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.section--subheader {
	background: #064f74;
	min-height: 180px;
	padding: 70px 0;
}

.section--configurator {
	.container {
		display: flex;
		justify-content: flex-start;
	}

	@media screen and (max-width: 768px) {
		.container {
			flex-wrap: wrap;
		}

		.content {
			width: 100%;
			margin-right: 0;
		}

		.sidebar {
			width: 100%;
			padding-right: 0;
		}
	}

	@media screen and (min-width: 769px) {

		.content {
			width: calc(50% - 1.75rem);
			margin-right: 0;
		}

		.sidebar {
			width: calc(50% - 1.75rem);
			margin-left: 3.5rem;
		}

	}

	@media screen and (min-width: 1025px) {
		.content {
			width: 58.36%;
			margin-right: 8.369%;

		}

		.sidebar {
			width: 33.33%;
			padding-right: 2.508%;
		}
	}
}

.media {
	padding-top: 30px;
	user-select: none;

	.picture {
		@include aspect(10, 6);

		position: relative;
		align-items: center;
		padding: 30px;
		background: #f3f3f3;
		user-select: none;

		img {
			display: block;
			width: 23%;
			margin: 0 auto;
		}

		&.loading {
			img {
				opacity: 0.2;
			}
		}
	}

	.description {
		font-size: 13px;
		line-height: 2.3;
		color: #5d5d5d;
		padding: 30px 0;
	}

	table {
		td {
			padding-right: 30px;
			border-bottom: 1px solid #e5e5e5;

			&:first-child {
				font-weight: 600;
			}
		}
	}

	@media screen and (max-width: 768px) {}

	@media screen and (min-width: 769px) {
		&.fixed {
			position: fixed;
			top: 60px;
			left: 3.5rem;
			width: calc((100vw - 10rem) * 0.5);
		}
	}

	@media screen and (min-width: 1025px) {
		&.fixed {
			width: calc((100vw - 7rem) * 0.5836);
		}
	}
}

.sidebar {
	padding-bottom: 100px;

	.h2 {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.description {
		font-size: 13px;
		line-height: 2.3;
		color: #5d5d5d;
	}

	@media screen and (min-width: 1024px) {
		padding-bottom: 200px;
	}
}

.sidebar__item {
	margin-top: 50px;
	border-top: 1px solid #e5e5e5;

	.btn--cta {
		margin: 30px 0 50px 0;
	}

	@media screen and (max-width: 767px) {
		.btn--cta {
			width: 100%;
		}
	}
}

.option {
	padding-top: 20px;
	margin-bottom: 30px;

	.title {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 20px;
	}

	.subtitle {
		font-size: 15px;
		font-weight: 500;
		line-height: 1.3;
		color: #00b0ec;
		margin-bottom: 20px;
	}

	.title+.subtitle {
		margin-top: -20px;
	}
}

.section--recap {

	.inner {
		background: #f3f3f3;
		border-top: 1px solid #828282;
	}

	.container {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 15px 0;
	}

	.block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 10px;
		font-size: 13px;
		line-height: 1.38;
	}

	.block--hilight {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 80px;
		padding-right: 2.508%;
		background: white;
		border: 2px solid #e5e5e5;
		border-radius: 4px;
		padding: 20px;

		.result-price {
			display: block;
			text-align: center;
			font-size: 30px;
			font-weight: 500;
			white-space: nowrap;
			padding: 0 10px;
			min-width: 130px;
		}
	}

	.info-group {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.icon {
			width: 40px;
			flex: 0 0 40px;
			margin-right: 15px;

			img {
				max-width: 100%;
			}
		}

		.info {
			max-width: 300px;
		}
	}

	@media screen and (max-width: 1023px) {
		.container {
			flex-wrap: wrap;
		}

		.block {
			min-width: 100%;
			flex: 1 1 100%;
		}
	}

}

.section--recap--fixed {

	.inner {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 100;
		transform: translateY(100%);
		transition: transform ease-in-out 250ms;

		&.fixed {
			transform: translateY(0);
		}

	}

	.block {
		min-width: 33.33%;
		flex: 1 1 33.33%;
	}

	@media screen and (max-width: 767px) {

		.inner {
			background: white;
		}

		.block--hilight {
			padding: 0;
			background: none;
			border: none;

			.result-price {
				font-size: 25px;
			}
		}
	}

}

.section--recap:not(.section--recap--fixed) {

	.inner {
		padding-bottom: 200px;
	}

	.block {
		min-width: 50%;
		flex: 1 1 50%;
	}

	@media screen and (max-width: 767px) {
		.block {
			min-width: 100%;
			flex: 1 1 100%;
		}
	}

}

@media screen and (max-width: 767px) {
	.hidden-xs-down {
		display: none !important;
	}
}

@media screen and (max-width: 1023px) {
	.hidden-sm-down {
		display: none !important;
	}
}

@media screen and (min-width: 768px) {
	.hidden-sm-up {
		display: none !important;
	}
}

@media screen and (min-width: 1024px) {
	.hidden-md-up {
		display: none !important;
	}
}
